<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.erpdbConnectionString" connectionString="server=tics41.ddns.net;User Id=root;password=pinguino;database=erpdb"
            providerName="MySql.Data.MySqlClient" />
        <add name="Datos.Properties.Settings.erpdbConnectionString1"
            connectionString="server=tics41.ddns.net;user id=root;database=erpdb;persistsecurityinfo=True;password=pinguino"
            providerName="MySql.Data.MySqlClient" />
        <add name="Datos.Properties.Settings.erpdbConnectionString2"
            connectionString="server=tics41.ddns.net;user id=root;password=pinguino;persistsecurityinfo=True;database=erpdb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>