<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.erpdbConnectionString" connectionString="server=tics41.ddns.net;User Id=root;password=pinguino;database=erpdb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>